@font-face {
    font-family: 'proximanova';
    src: url('./assets/fonts/proximanova-regular-webfont.woff');
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr-500: #33aef4;
    --primary-clr-600: #000;
    --secondary-clr: #9f9f9f;
    --gradient-clr1: #8c1041;
    --gradient-clr2: #2a172e;
}


body {
    font-family: 'proximanova', sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button, a, input {
    font-family: inherit;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* ==========header=============== */
.logo-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem 5px 2rem;
}

.reports-btn {
    cursor: pointer;
}


.soapbox-title {
    background-image: linear-gradient(180deg, #8c1041, #2a172e 100%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.soapbox-title h1 {
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 2;
}

nav {
    box-shadow: 0px 1px 1px 0px var(--secondary-clr);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 7px;
    margin: auto;
}

.menu-link {
    color: var(--primary-clr-600);
}

.menu-item {
    position: relative;
}

.menu-link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--gradient-clr1);
    position: absolute;
    bottom: -9px;
    left: 0;
}


/* ================hero-section========= */
.hero-section {
    
    background: linear-gradient(110deg, var(--gradient-clr1), var(--gradient-clr2) 100%);
    margin: 2rem auto;
}

.hero {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    align-items: center;
}

.hero-img {
    max-width: 800px;
    transform: translate(-2rem, 2rem);
    padding-right: 2rem;
}

.hero-content {
    color: #fff;
    max-width: 400px;
}

.hero-title2 {
    margin-top: 4rem;
}

.hero-text {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.897);
}

.hero-btn {
    display: inline-block;
    padding: 5px 2rem;
    margin-top: 4rem;
    text-align: center;
    border: 2px solid #fff;
    background-color: #fff;
    color: var(--gradient-clr1);
    border-radius: 5px;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.hero-btn:hover {
    background-color: transparent;
    color: #fff;
}

/* ================get-started-section============ */
.get-started-section {
    text-align: center;
    margin: 6rem auto;
}

.get-started-section h3 {
    color: var(--gradient-clr1);
}

.get-started-section p {
    color: rgba(0, 0, 0, 0.897);
}

.get-started-section h2 {
    font-size: 2rem;
    margin: 1rem auto;
}

.get-started-items {
    display: flex;
    justify-content: center;
    gap: 4rem;
    border-bottom: 2px solid var(--secondary-clr);
    padding: 5px 6rem;
    max-width: max-content;
    margin: 1rem auto;
}


.get-started-item {
    position: relative;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.get-started-item.active {
    color: var(--gradient-clr1);
}

.get-started-item.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--gradient-clr1);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all .2s ease-in-out;
}

.get-started-flex {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    display: none;
    transition: all .2s ease-in-out;
}

.get-started-flex img {
    max-width: 450px;
}

.get-started-content {
    width: 270px;
    text-align: left;
}

.get-started-content p {
    color: rgba(0, 0, 0, 0.897);
}

.get-started-flex.active {
    display: flex;
    opacity: 1;
    transition: all .2s ease-in-out;
}

/* ==============testimonials============== */
.testimonials {
    text-align: center;
    margin: 1rem 0;
}

.testimonials h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.testimonials h3 {
    color: var(--gradient-clr1);
    margin-bottom: 1rem;
    position: relative;
}

.testimonials h3::before {
    content: '“';
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: #000;
 
}

.testimonials p {
    max-width: 25rem;
    margin: 1rem auto;
}

/* ========== */


.networks {
    max-width: 1000px;
    margin: 2rem auto;
}

.setup-account {
    background-image: linear-gradient(180deg, var(--gradient-clr1), var(--gradient-clr2) 100%);
    padding: 5rem 7rem;
    color: #fff;
}

.setup-account h3 {
    font-weight: 100;
}

.setup-account h2 {
    font-size: 2rem;
}

.account-flex {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn1, .btn2 {
    display: inline-block;
    padding: 5px 2rem;
    border: 2px solid #fff;
    background-color: #fff;
    color: var(--gradient-clr1);
    border-radius: 5px;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.btn2:hover {
    background-color: transparent;
    color: #fff;
}

.btn1 {
    background-color: transparent;
    color: #fff;
}

.btn1:hover {
    background-color: #fff;
    color: var(--gradient-clr1);
}



/* footer section  */
.ft-flex {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.ft-pwi {
    color: var(--primary-clr-500);
    font-weight: bold;
}

.ft-project {
    font-weight: lighter;
}

.ft-pwi .ft-impact {
    font-weight: bolder;
    font-size: 1.09rem;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    color: var(--primary-clr-500);
    font-weight: bold;
}

.icon:hover {
    color: var(--primary-clr-600);
}

.ft-list ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.ft-list a {
    color: rgba(0, 0, 0, 0.733);
    font-size: .8rem;
    font-weight: bold;
}

.ft-list a:hover {
    color: var(--primary-clr-500);
}

@media screen and (max-width: 1025px) {
    .menu {
        max-width: 700px;
    }

    .hero-content {
        padding: 1rem;
    }

    .hero-title2 {
        margin-top: 2rem;
    }

    .btns {
        flex-direction: column;
    }
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 700px) {

    nav {
        background-color: #fff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.459);
        width: 90%;
        border-radius: 10px;
        padding: 2rem;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        z-index: 999;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    nav.active {
        top: 8rem;
        opacity: 1;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .menu-toggle {
        position: absolute;
        top: 5.3rem;
        right: 2rem;
        font-size: 1.3rem;
        display: block;
    }

    .menu-toggle:active {
        color: var(--primary-clr-500);
    }

    .hero {
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
    }

    .get-started-flex {
        gap: 1rem;
        padding: 1rem;
    }

    .setup-account {
        padding: 3rem 1rem;
    }

    .account-flex {
        flex-direction: column;
        gap: 2rem;
        align-items: left;
    }

    .networks {
        padding: 1rem;
    }


    .ft-flex {
        flex-direction: column;
        text-align: center;
        padding: 3rem;
    }

    .ft-list ul {
        flex-direction: column;
    }
}

