@font-face {
    font-family: 'proximanova';
    src: url('../assets/fonts/proximanova-regular-webfont.woff');
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr-500: #33aef4;
    --primary-clr-600: #000;
    --secondary-clr: #9f9f9f;
    --gradient-clr1: #8c1041;
    --gradient-clr2: #2a172e;
}


body {
    font-family: 'proximanova', sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button, a, input {
    font-family: inherit;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* ==========header=============== */
.logo-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem 5px 2rem;
}

.reports-btn {
    cursor: pointer;
}


.soapbox-title {
    background-image: linear-gradient(180deg, #8c1041, #2a172e 100%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.soapbox-title h1 {
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 2;
}

nav {
    box-shadow: 0px 1px 1px 0px var(--secondary-clr);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 7px;
    margin: auto;
}

.menu-link {
    color: var(--primary-clr-600);
}

.menu-item {
    position: relative;
}

.menu-link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--gradient-clr1);
    position: absolute;
    bottom: -9px;
    left: 0;
}


/* mobile version  */
@media screen and (max-width: 1025px) {
    .menu {
        max-width: 700px;
    }

    .hero-content {
        padding: 1rem;
    }

    .hero-title2 {
        margin-top: 2rem;
    }

    .btns {
        flex-direction: column;
    }
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 700px) {

    nav {
        background-color: #fff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.459);
        width: 90%;
        border-radius: 10px;
        padding: 2rem;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        z-index: 999;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    nav.active {
        top: 8rem;
        opacity: 1;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .menu-toggle {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 1.5rem;
        display: block;
    }

    .reports-btn {
        display: none;
    }

    .logo-flex {
        padding: 10px 1rem;
    }

    .menu-toggle:active {
        color: var(--primary-clr-500);
    }
}

